@charset "UTF-8";

/* 共通 ここから */
:root {
  --color-white: #FFFFFF;
  --color-green-dark: #168352;
  --color-green-darker: #066655;
  --color-green-light: #09947B;
  --color-grey-light: #DDDDDD;
  --color-brown: #473221;
  --color-dark-grey: #222222;
  --color-black: #000000;
  --color-background-light: #F3F9F6;
  --color-grey-dark: #111111;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-grey-dark);
  letter-spacing: 0;
  line-height: normal;
}

a {
  text-decoration:none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
/* 共通 ここまで */

/* #header ここから */
@media (max-width:767px) {
  #header {
    width: 100%;
    height: 3.9375rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--color-white);
  }
  #header .header__container {
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: none;
  }
  #header .sp_only.header__logo {
    display: inline-block;
    width: 12.3125rem;
  }
  #header .header__menu {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
  #header .header__menu {
    width: calc(100% - 2rem);
    margin: 0 auto;
    background-color: var(--color-green-dark);
    border-radius: 24px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: fixed;
    top: 3.9375rem;
    right: -120%;
    transition: all .3s;
    z-index: 999;
  }
  #header .header__menu.open {
    right: 1rem;
  }
  #header .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: .94;
    letter-spacing: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}
@media(min-width:1025px) {
  #header {
    width: 100%;
    height: 7.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--color-white);
  }
  #header .header__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: inline-block;
    width: 16.4375rem;
  }
  #header .sp_only.header__logo {
    display: none
  }
  #header .sp_only.header__menu-icon {
    display: none;
  }
  #header .header__menu ul {
    display: flex;
    gap: 2.5rem;
    margin-top: -0.4375rem;

  }
  #header .header__menu li.sp_only {
    display: none;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  #header {
    width: 100%;
    height: 7.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--color-white);
  }
  #header .header__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: inline-block;
    width: 16.4375rem;
  }
  #header .sp_only.header__logo {
    display: none
  }
  #header .sp_only.header__menu-icon {
    display: none;
  }
  #header .header__menu ul {
    display: flex;
    gap: 2.5rem;
    margin-top: -0.4375rem;

  }
  #header .header__menu li.sp_only {
    display: none;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}
/* #header ここまで */

/* #introduction ここから */
#introduction .introduction__container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding-top: 1.1875rem;
  display: flex;
  flex-direction: column;
  gap: 1.9375rem;
}
#introduction .introduction__title {
  font-size: 1.75rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--color-black);
  text-align: left;
}
#introduction .introduction__text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0;
  color: var(--color-black);
  text-align: left;
  margin-top: -0.1875rem;
}
#introduction .introduction__text br.sp_only {
  display: inline-block;
}
#introduction .introduction__main-visual-photo-container {
  width: calc(100% - 2rem);
  height: 28.125rem;
  margin: 0 auto;
  border-radius: 40px;
  overflow: hidden;
  margin-top: 1.9375rem;
}
#introduction .sp_only.introduction__main-visual-photo {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#introduction .pc_only.introduction__main-visual-photo {
  display: none;
}

@media(min-width:1301px) {
  #introduction .introduction__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
    padding-top: 1.1875rem;
    padding-left: 2.125rem;
    padding-right: 2rem;
    margin-top: 2.25rem;
    display: flex;
    flex-direction: row;
    gap: 8.1875rem;
    justify-content: space-between;
  }
  #introduction .introduction__title {
    font-size: 2.5rem;
    line-height: .975;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--color-black);
    text-align: left;
    white-space: nowrap;
  }
  #introduction .introduction__text {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    letter-spacing: 0;
    color: var(--color-black);
    display: inline-block;
    margin-top: -0.1563rem;
  }
  #introduction .introduction__text br.sp_only {
    display: none;
  }
  #introduction .introduction__main-visual-photo-container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    height: 34.375rem;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 3.9375rem;
  }
  #introduction .sp_only.introduction__main-visual-photo {
    display: none;
  }
  #introduction .pc_only.introduction__main-visual-photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width:768px) and (max-width: 1300px) {
  #introduction .introduction__container {
    width: calc(100% - 2rem);
    margin: 0 auto;
    padding-top: 1.1875rem;
    padding-left: 2.125rem;
    padding-right: 2rem;
    margin-top: 2.25rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: space-between;
  }
  #introduction .introduction__title {
    font-size: 2.5rem;
    line-height: .975;
    font-weight: 700;
    letter-spacing: 0;
    color: var(--color-black);
    text-align: left;
    white-space: nowrap;
  }
  #introduction .introduction__text {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    letter-spacing: 0;
    color: var(--color-black);
    display: inline-block;
    margin-top: -0.1563rem;
  }
  #introduction .introduction__text br.sp_only {
    display: none;
  }
  #introduction .introduction__main-visual-photo-container {
    width: calc(100% - 2rem);
    height: 34.375rem;
    margin: 0 auto;
    border-radius: 40px;
    overflow: hidden;
    margin-top: 3.9375rem;
  }
  #introduction .sp_only.introduction__main-visual-photo {
    display: none;
  }
  #introduction .pc_only.introduction__main-visual-photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* #introduction ここまで */

/* #about-us ここから */
@media(max-width:767px) {
  #about-us .about-us__title {
    margin-top: 3.5rem;
  }
  #about-us .about-us__english-text {
    display: block;
    font-size: 1rem;
    line-height: .8125;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
  }
  #about-us .about-us__japanese-text {
    display: block;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 0.625rem;
    margin-bottom: 1.5rem;
  }
  #about-us .about-us__container {
    width: 100%;
    display: grid;
  }
  #about-us .about-us__photo-container {
    width: 100%;
    height: 34.0625rem;
    overflow: hidden;
    margin-top: 0;
    position: relative;
    z-index: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  #about-us .sp_only.about-us__photo {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 390 / 545;
  }
  #about-us .pc_only.about-us__photo {
    display: none;
  }
  #about-us .about-us__content {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 10;
    width: calc(100% - 2rem);
    height: 30.0625rem;
    margin: 0 auto;
    border-radius: 32px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    margin-top: 1.875rem;
  }
  #about-us .about-us__content-subtitle {
    font-size: 1.125rem;
    line-height: 1.77;
    font-weight: 700;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 6.7%;
    padding-right: 7.8%;
  }
  #about-us .about-us__content-text {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.75;
    font-weight: 400;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 6.7%;
    padding-right: 9.2%;
    margin-top: 0.375rem;
  }

}

@media (min-width:1301px) {
  #about-us .about-us__title {
    margin-top: 4rem;
  }
  #about-us .about-us__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .8;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
  }
  #about-us .about-us__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .93;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.25rem;
  }
  #about-us .about-us__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    padding: 0;
    margin: 0 auto;
    margin-top: 2.0625rem;
    padding-left: 6.25rem;
    padding-right: 7.1875rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #about-us .about-us__photo-container {
    margin-top: 0;
    width: 24.375rem;
    height: 35.625rem;
    border-radius: 40px;
    overflow: hidden;
    max-height: 570px;
  }
  #about-us .sp_only.about-us__photo {
    display: none;
  }
  #about-us .pc_only.about-us__photo {
    display: inline-block;
    width: 24.375rem;
    object-fit: cover;
    aspect-ratio: 390 / 570;
  }
  #about-us .about-us__content {
    width: 25.3125rem;
    height: auto;
    margin: 0;
    border-radius: 0px;
    overflow: visible;
    background-color: rgba(255, 255, 255, .8);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    justify-content: space-between;
    gap:0;
  }
  #about-us .about-us__content-subtitle {
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 700;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 0;
    padding-right: 1.25rem;
    margin-top: -1.2rem;
  }
  #about-us .about-us__content-subtitle .break {
    display: block;
  }
  #about-us .about-us__content-subtitle .nobreak {
    white-space: nowrap;
  }
  #about-us .about-us__content-text {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.77;
    font-weight: 400;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5625rem;
    margin-top: -0.1875rem;
  }
}

@media (min-width:768px) and (max-width:1300px) {
  #about-us .about-us__title {
    margin-top: 4rem;
  }
  #about-us .about-us__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .8;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
  }
  #about-us .about-us__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .93;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.25rem;
  }
  #about-us .about-us__container {
    width: calc(100% - 2.5rem);
    padding: 0;
    margin: 0 auto;
    margin-top: 3rem;
    padding-left: 6.25rem;
    padding-right: 7.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }
  #about-us .about-us__photo-container {
    margin-top: 0;
    width: 24.375rem;
    height: 35.625rem;
    border-radius: 40px;
    overflow: hidden;
    max-height: 570px;
  }
  #about-us .sp_only.about-us__photo {
    display: none;
  }
  #about-us .pc_only.about-us__photo {
    display: inline-block;
    width: 24.375rem;
    object-fit: cover;
    aspect-ratio: 390 / 570;
  }
  #about-us .about-us__content {
    width: 25.3125rem;
    height: auto;
    margin: 0;
    border-radius: 0px;
    overflow: visible;
    background-color: rgba(255, 255, 255, .8);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    justify-content: space-between;
    gap:0;
  }
  #about-us .about-us__content-subtitle {
    font-size: 1.25rem;
    line-height: 1.75;
    font-weight: 700;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 0;
    padding-right: 1.25rem;
    margin-top: -1.2rem;
  }
  #about-us .about-us__content-subtitle .break {
    display: block;
  }
  #about-us .about-us__content-subtitle .nobreak {
    white-space: nowrap;
  }
  #about-us .about-us__content-text {
    display: block;
    font-size: 0.9375rem;
    line-height: 1.77;
    font-weight: 400;
    color: var(--color-grey-dark);
    text-align: left;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.5625rem;
    margin-top: -0.1875rem;
  }
}
/* #about-us ここまで */

/* #features ここから */
#features .features__wrapper {
  width: 100%;
  background-color: var(--color-background-light);
  padding-bottom: 3.4375rem;
}
#features .features__title {
  padding-top: 3.4375rem;
}
#features .features__english-text {
  display: block;
  font-size: 1rem;
  line-height: .8125;
  font-weight: 600;
  color: var(--color-green-dark);
  text-align: center;
}
#features .features__japanese-text {
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  margin-top: 0.5625rem;
}
#features .features__container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  margin-top: 1.5rem;
}
#features .features__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
}
#features .features__content {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}
#features .sp_only.features__content-photo {
  display: inline-block;
  width: 100%;
  object-fit: cover;
}
#features .pc_only.features__content-photo {
  display: none;
}
#features .features__content-text {
  font-size: 1.125rem;
  line-height: 1.67;
  font-weight: 700;
  color: var(--color-dark-grey);
  letter-spacing: 0;
  padding: 1rem;
  text-align: left;
  margin-top: -0.625rem;
}

@media (min-width:1301px) {
  #features .features__wrapper {
    width: 100%;
    background-color: var(--color-background-light);
    padding-bottom: 3.9375rem;
    margin-top: 4.0625rem;
  }
  #features .features__title {
    padding-top: 4.0625rem;
  }
  #features .features__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .75;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
  }
  #features .features__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
  }
  #features .features__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
    margin-top: 1.875rem;
  }
  #features .features__content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.75rem;
  }
  #features .features__content {
    width: 23.0625rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  }
  #features .sp_only.features__content-photo {
    display: none;
  }
  #features .pc_only.features__content-photo {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
  #features .features__content-text {
    font-size: 1.1875rem;
    line-height: 1.52;
    font-weight: 700;
    color: var(--color-dark-grey);
    letter-spacing: 0;
    padding: 1.25rem;
    text-align: left;
    margin-top: -0.625rem;
  }
}

@media (min-width:768px) and (max-width:1300px) {
  #features .features__wrapper {
    width: 100%;
    background-color: var(--color-background-light);
    padding-bottom: 3.9375rem;
    margin-top: 4.0625rem;
  }
  #features .features__title {
    padding-top: 4.0625rem;
  }
  #features .features__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .75;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
  }
  #features .features__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
  }
  #features .features__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    margin-top: 1.875rem;
  }
  #features .features__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.75rem;
    width: 100%;
  }
  #features .features__content {
    width: 23.0625rem;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--color-white);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  }
  #features .sp_only.features__content-photo {
    display: none;
  }
  #features .pc_only.features__content-photo {
    display: inline-block;
    width: 100%;
    object-fit: cover;
  }
  #features .features__content-text {
    font-size: 1.1875rem;
    line-height: 1.52;
    font-weight: 700;
    color: var(--color-dark-grey);
    letter-spacing: 0;
    padding: 1.25rem;
    text-align: left;
    margin-top: -0.625rem;
  }
}
/* #features ここまで */

/* #products ここから */
#products .products__english-text {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-green-dark);
  text-align: center;
  padding-top: 3.625rem;
}
#products .products__japanese-text {
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  margin-top: 0.625rem;
  margin-bottom: 1.4375rem;
}
#products .products__container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding-bottom: 3.5rem;
}
#products .products__content-wrapper-1 {
  margin-bottom: 1.25rem;
}
#products .products__content-wrapper-1, #products .products__content-wrapper-2 {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
#products .products__content {
  width: 100%;
  background-color: var(--color-green-dark);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: normal;
  gap: 1.0625rem;
}
#products .products__content-wrapper-1 > .products__content:first-child {
  padding: 1.25rem 3.125rem 1.25rem 1.5rem;
}
#products .products__content-wrapper-1 > .products__content:nth-child(2)  {
  padding: 1.25rem 4.375rem 1.25rem 1.5rem;
}
#products .products__content-wrapper-2 > .products__content:first-child {
  padding: 1.25rem 1.875rem 1.25rem 1.5rem;
}
#products .products__content-wrapper-2 > .products__content:nth-child(2) {
  padding: 1.25rem 1.875rem 1.25rem 1.5rem;
}
#products .products__content-wrapper-2 > .products__content:nth-child(3) {
  padding: 1.25rem 1.875rem 1.25rem 1.5rem;
}
#products .products__content .sp_only.products__photo {
  display: inline-block;
  width: 6.25rem;
  object-fit: cover;
  aspect-ratio: 100 / 100;
}
#products .products__content .pc_only.products__photo {
  display: none;
}
#products .products__content .products__text {
  font-size: 1.125rem;
  line-height: 1.67;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-white);
  padding-top: 1.1875rem;
}
#products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text span:nth-child(2) {
  white-space: nowrap;
  margin-left: 0;
}
#products .products__content-wrapper-1 > .products__content:first-child .products__text,
#products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text,
#products .products__content-wrapper-2 > .products__content:first-child .products__text,
#products .products__content-wrapper-2 > .products__content:nth-child(2) .products__text,
#products .products__content-wrapper-2 > .products__content:nth-child(3) .products__text {
  padding-left: 0;
  text-align: left;
}
@media (min-width:1381px) {
  #products .products__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .95;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 4rem;
  }
  #products .products__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #products .products__container {
    width: calc(100% - 18.75rem);
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  #products .products__content-wrapper-1 {
    margin-bottom: 2.5rem;
  }
  #products .products__content-wrapper-1, #products .products__content-wrapper-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.125rem;
  }
  #products .products__content {
    width: auto;
    background-color: var(--color-green-dark);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
  #products .products__content-wrapper-1 > .products__content:first-child {
    width: 32.8125rem;
    padding: 1.4375rem 6.875rem 1.4375rem 1.9375rem;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2)  {
    width: 32.8125rem;
    padding: 1.4375rem 6.25rem  1.4375rem 1.9375rem;
  }
  #products .products__content-wrapper-2 > .products__content:first-child {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:nth-child(2) {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:nth-child(3) {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content .sp_only.products__photo {
    display: none;
  }
  #products .products__content .pc_only.products__photo {
    display: inline-block;
    width: 8.3125rem;
    object-fit: cover;
    aspect-ratio: 100 / 100;
  }
  #products .products__content .products__text {
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-white);
  }
  #products .products__content-wrapper-1 > .products__content:first-child .products__text,
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text {
    font-size: 1.5rem;
    line-height: 1.67;
    padding-left: 1.8438rem;
    padding-top: 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:first-child .products__text,
  #products .products__content-wrapper-2 > .products__content:nth-child(2) .products__text,
  #products .products__content-wrapper-2 > .products__content:nth-child(3) .products__text {
    font-size: 1.25rem;
    line-height: 1.8;
    padding-left: 1.375rem;
    padding-top: 1.1875rem;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text span:first-child {
    display: inline;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text span:nth-child(2) {
    display: inline;
    white-space: normal;
    margin-left: 0;
  }
}

@media (min-width:768px) and (max-width:1380px) {
  #products .products__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .95;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 4rem;
  }
  #products .products__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #products .products__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  #products .products__content-wrapper-1 {
    margin-bottom: 2.5rem;
  }
  #products .products__content-wrapper-1, #products .products__content-wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
  }
  #products .products__content {
    width: auto;
    background-color: var(--color-green-dark);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }
  #products .products__content-wrapper-1 > .products__content:first-child {
    width: 20.8125rem;
    height: 9.375rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2)  {
    width: 20.8125rem;
    height: 9.375rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:first-child {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:nth-child(2) {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content-wrapper-2 > .products__content:nth-child(3) {
    width: 20.8125rem;
    padding: 1.25rem 1.875rem 1.25rem 1.5rem;
  }
  #products .products__content .sp_only.products__photo {
    display: none;
  }
  #products .products__content .pc_only.products__photo {
    display: inline-block;
    width: 6.875rem;
    overflow: visible;
    object-fit: cover;
    aspect-ratio: 100 / 100;
  }
  #products .products__content-wrapper-1 > .products__content:first-child .pc_only.products__photo,
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .pc_only.products__photo {
    display: inline-block;
    width: 6.875rem;
    overflow: visible;
    object-fit: cover;
    aspect-ratio: 100 / 100;
    margin-left: 0;
  }
  #products .products__content .products__text {
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-white);
  }
  #products .products__content-wrapper-1 > .products__content:first-child .products__text,
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text {
    display: inline;
    font-size: 1rem;
    line-height: 1.8;
    padding-left: 1.375rem;
    padding-top: 1.1875rem;
    margin-left: 0;
  }
  #products .products__content-wrapper-2 > .products__content:first-child .products__text,
  #products .products__content-wrapper-2 > .products__content:nth-child(2) .products__text,
  #products .products__content-wrapper-2 > .products__content:nth-child(3) .products__text {
    font-size: 1.25rem;
    line-height: 1.8;
    padding-left: 1.375rem;
    padding-top: 1.1875rem;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text span:first-child {
    display: inline;
  }
  #products .products__content-wrapper-1 > .products__content:nth-child(2) .products__text span:nth-child(2) {
    display: inline;
    white-space: nowrap;
    margin-left: 0;
  }
}
/* #products ここまで */

/* #case ここから */
#case .case__wrapper {
  width: 100%;
  background-color: var(--color-background-light);
  padding-bottom: 3.5rem;
}
#case .case__english-text {
  display: block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 600;
  color: var(--color-green-dark);
  text-align: center;
  padding-top: 3.625rem;
}
#case .case__japanese-text {
  display: block;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  margin-top: 0.4375rem;
  margin-bottom: 1.5rem;
}
#case .case__container {
  width: calc(100% - 2rem);
  margin: 0 auto;
}
#case .case__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#case .case__content {
  display: flex;
  flex-direction: column;
  gap: 0.1875rem;
}
#case .case__content-photo-container {
  width: 100%;
  height: 12.5625rem;
  border-radius: 24px;
  overflow: hidden;
}
#case .sp_only.case__content-photo {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 358 / 201;
}
#case .pc_only.case__content-photo {
  display: none;
}
#case .case__content-text {
  font-size: 1.125rem;
  line-height: 1.72;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-green-light);
  text-align: left;
}

@media(min-width:1391px) {
  #case .case__wrapper {
    width: 100%;
    background-color: var(--color-background-light);
    padding-bottom: 4.125rem;
  }
  #case .case__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .8;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 3.9375rem;
  }
  #case .case__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .96;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #case .case__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
  }
  #case .case__content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
  }
  #case .case__content {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  #case .case__content-photo-container {
    width: 23.0625rem;
    height: 14.125rem;
    border-radius: 24px;
    overflow: hidden;
  }
  #case .sp_only.case__content-photo {
    display: none;
  }
  #case .pc_only.case__content-photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 369 / 226;
  }
  #case .case__content-text {
    font-size: 1.1875rem;
    line-height: 1.58;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-green-light);
    text-align: left;
  }
}

@media (min-width:768px) and (max-width:1390px) {
  #case .case__wrapper {
    width: 100%;
    background-color: var(--color-background-light);
    padding-bottom: 4.125rem;
  }
  #case .case__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .8;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 3.9375rem;
  }
  #case .case__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .96;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #case .case__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
  }
  #case .case__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }
  #case .case__content {
    width: 23.0625rem;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    margin: 0 auto;
  }
  #case .case__content-photo-container {
    width: 23.0625rem;
    height: 14.125rem;
    border-radius: 24px;
    overflow: hidden;
  }
  #case .sp_only.case__content-photo {
    display: none;
  }
  #case .pc_only.case__content-photo {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 369 / 226;
  }
  #case .case__content-text {
    display: inline-block;
    width: 100%;
    font-size: 1.1875rem;
    line-height: 1.58;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-green-light);
    text-align: left;
  }
}
/* #case ここまで */

/* #news ここから */
#news .news__english-text {
  display: block;
  font-size: 1rem;
  line-height: .8125;
  font-weight: 600;
  color: var(--color-green-dark);
  text-align: center;
  padding-top: 3.3125rem;
}
#news .news__japanese-text {
  display: block;
  font-size: 1.25rem;
  line-height: .95;
  font-weight: 700;
  color: var(--color-black);
  text-align: center;
  margin-top: 0.4375rem;
  margin-bottom: 1.6875rem;
}
#news .news__container {
  width: calc(100% - 2rem);
  margin: 0 auto;
  padding-bottom: 3.8125rem;
}
#news .news__title-container {
  display: flex;
  gap: 1.0625rem;
}
#news .news__date-text {
  font-size: 0.9375rem;
  line-height: .73;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-dark-grey);
  padding-top: 1.5rem;
}
#news .news__category-container {
  width: 8.375rem;
  height: 1.75rem;
  background-color: var(--color-brown);
  border-radius: 4px;
  overflow: hidden;
  padding-top: 0.5rem;
  margin-top: 0.9375rem;
}
#news .news__category {
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0;
  color: var(--color-white);
  text-align: center;
}
#news .news__wrapper .news__content .news__text-content {
  font-size: 0.9375rem;
  line-height: 1.67;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-green-light);
  text-align: left;
  margin-top: 0.625rem;
}

#news .news__wrapper .news__content {
  padding-bottom: 0.75rem;
}
#news .news__wrapper .news__content:first-child {
  border-top: var(--color-grey-light) solid 1px;
  border-bottom: var(--color-grey-light) solid 1px;
}
#news .news__wrapper .news__content:not(:first-child) {
  margin-top: 0;
  border-bottom: var(--color-grey-light) solid 1px;
}

@media (min-width:1301px) {
  #news .news__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .75;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 4.1875rem;
  }
  #news .news__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .96;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #news .news__container {
    width: calc(100% - 31.25rem);
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 4.3125rem;
  }
  #news .news__content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  #news .news__title-container {
    display: flex;
    gap: 1.25rem;
  }
  #news .news__date-text {
    font-size: 0.875rem;
    line-height: .71;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-dark-grey);
    padding-top: 1.5rem;
  }
  #news .news__category-container {
    width: 8.375rem;
    background-color: var(--color-brown);
    border-radius: 4px;
    overflow: hidden;
    padding-top: 0.5rem;
    margin-top: 1rem;
  }
  #news .news__category {
    font-size: 0.8125rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-white);
    text-align: center;
  }
  #news .news__wrapper .news__content .news__text-content {
    font-size: 0.9375rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-green-light);
    text-align: left;
    margin-top: 1.4375rem;
  }
  #news .news__wrapper .news__content {
    padding-bottom: 0;
    width: 100%;
    height: 3.9375rem;
    margin-top: 0;
  }
  #news .news__wrapper .news__content:first-child {
    border-top: var(--color-grey-light) solid 1px;
    border-bottom: var(--color-grey-light) solid 1px;
  }
  #news .news__wrapper .news__content:not(:first-child) {
    margin-top: 0;
    border-bottom: var(--color-grey-light) solid 1px;
    height: 3.8125rem;
  }
}

@media (min-width:768px) and (max-width:1300px) {
  #news .news__english-text {
    display: block;
    font-size: 1.25rem;
    line-height: .75;
    font-weight: 600;
    color: var(--color-green-dark);
    text-align: center;
    padding-top: 4.1875rem;
  }
  #news .news__japanese-text {
    display: block;
    font-size: 1.75rem;
    line-height: .96;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
    margin-top: 1.1875rem;
    margin-bottom: 2rem;
  }
  #news .news__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    padding-bottom: 4.3125rem;
  }
  #news .news__content {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  #news .news__title-container {
    display: flex;
    gap: 1.25rem;
  }
  #news .news__date-text {
    font-size: 0.875rem;
    line-height: .71;
    letter-spacing: 0;
    font-weight: 400;
    color: var(--color-dark-grey);
    padding-top: 1.5rem;
  }
  #news .news__category-container {
    width: 8.375rem;
    background-color: var(--color-brown);
    border-radius: 4px;
    overflow: hidden;
    padding-top: 0.5rem;
    margin-top: 1rem;
  }
  #news .news__category {
    font-size: 0.8125rem;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-white);
    text-align: center;
  }
  #news .news__wrapper .news__content .news__text-content {
    font-size: 0.9375rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-green-light);
    text-align: left;
    margin-top: 1.4375rem;
  }
  #news .news__wrapper .news__content {
    padding-bottom: 0;
    width: 100%;
    height: 3.9375rem;
    margin-top: 0;
  }
  #news .news__wrapper .news__content:first-child {
    border-top: var(--color-grey-light) solid 1px;
    border-bottom: var(--color-grey-light) solid 1px;
  }
  #news .news__wrapper .news__content:not(:first-child) {
    margin-top: 0;
    border-bottom: var(--color-grey-light) solid 1px;
    height: 3.8125rem;
  }
}

#news .news__link-container {
  cursor: pointer;
  width: 18.75rem;
  height: 4.125rem;
  background-color: var(--color-green-light);
  border-radius: 33px;
  box-shadow: 0 5px 0 var(--color-green-darker);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  position: relative;
}
#news .news__link {
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-white);
}
#news .news__link-container:hover {
  top: 3px;
  box-shadow: 0 2px 0 var(--color-green-darker);
}

@media (min-width:768px) {
  #news .news__link-container {
    cursor: pointer;
    width: 18.75rem;
    height: 4.125rem;
    background-color: var(--color-green-light);
    border-radius: 33px;
    box-shadow: 0 5px 0 var(--color-green-darker);
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.9375rem;
    position: relative;
  }
  #news .news__link {
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--color-white);
  }
  #news .news__link-container:hover {
    top: 3px;
    box-shadow: 0 2px 0 var(--color-green-darker);
  }
}
/* #news ここまで */

/* #footer ここから */
#footer .footer__wrapper {
  width: 100%;
  height: 4.25rem;
  background-color: var(--color-green-dark);
}
#footer .footer__container {
  width: 100%;
}
#footer .footer__content {
  display: flex;
  gap: 1.0625rem;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
}
#footer .footer__link-spec, #footer .footer__link-faq {
  font-size: 0.8125rem;
  line-height: 1.08;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--color-white);
}
#footer .footer__separator {
  background-color: var(--color-white);
  width: 0.0625rem;
  height: 1.25rem;
}

@media (min-width:768px) {
  #footer .footer__wrapper {
    width: 100%;
    height: 6rem;
    background-color: var(--color-green-dark);
  }
  #footer .footer__container {
    width: 100%;
  }
  #footer .footer__content {
    display: flex;
    gap: 1.3125rem;
    justify-content: center;
    align-items: center;
    padding-top: 2.25rem;
  }
  #footer .footer__link-spec {
    font-size: 0.9375rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--color-white);
  }
  #footer .footer__link-faq {
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--color-white);
  }
  #footer .footer__separator {
    background-color: var(--color-white);
    width: 0.0625rem;
    height: 1.5rem;
  }
}
/* #footer ここまで */