@charset "UTF-8";

/* 共通 ここから */
:root {
  --color-white: #FFFFFF;
  --color-green-dark: #168352;
  --color-green-darker: #066655;
  --color-green-light: #09947B;
  --color-grey-light: #DDDDDD;
  --color-brown: #473221;
  --color-dark-grey: #222222;
  --color-black: #000000;
  --color-background-light: #F3F9F6;
  --color-grey-dark: #111111;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-grey-dark);
  letter-spacing: 0;
  line-height: normal;
}

a {
  text-decoration:none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
/* 共通 ここまで */

/* #header ここから */
@media (max-width:767px) {
  #header {
    width: 100%;
    height: 3.9375rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  #header .header__container {
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: none;
  }
  #header .sp_only.header__logo {
    display: inline-block;
    width: 12.3125rem;
  }
  #header .header__menu {
    width: calc(100% - 2rem);
    margin: 0 auto;
  }
  #header .header__menu {
    width: calc(100% - 2rem);
    margin: 0 auto;
    background-color: var(--color-green-dark);
    border-radius: 24px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: fixed;
    top: 3.9375rem;
    right: -120%;
    transition: all .3s;
    z-index: 999;
  }
  #header .header__menu.open {
    right: 1rem;
  }
  #header .header__menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: .94;
    letter-spacing: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}
@media(min-width:1025px) {
  #header {
    width: 100%;
    height: 7.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  #header .header__container {
    width: calc(100% - 14.5rem);
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: inline-block;
    width: 16.4375rem;
  }
  #header .sp_only.header__logo {
    display: none
  }
  #header .sp_only.header__menu-icon {
    display: none;
  }
  #header .header__menu ul {
    display: flex;
    gap: 2.5rem;
    margin-top: -0.4375rem;

  }
  #header .header__menu li.sp_only {
    display: none;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  #header {
    width: 100%;
    height: 7.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  #header .header__container {
    width: calc(100% - 2.5rem);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.625rem;
  }
  #header .header__container a {
    cursor: pointer;
    transition: all .3s ease-out;
  }
  #header .header__container a:hover {
    opacity: .7;
  }
  #header .pc_only.header__logo {
    display: inline-block;
    width: 16.4375rem;
  }
  #header .sp_only.header__logo {
    display: none
  }
  #header .sp_only.header__menu-icon {
    display: none;
  }
  #header .header__menu ul {
    display: flex;
    gap: 2.5rem;
    margin-top: -0.4375rem;

  }
  #header .header__menu li.sp_only {
    display: none;
  }
  #header .header__menu .header__menu-link {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0;
    color: var(--color-black);
    transition: all .3s ease-out;
  }
  #header .header__menu .header__menu-link:hover {
    opacity: .7;
  }
}
/* #header ここまで */

/* #introduction ここから */

/* #introduction ここまで */